/*CSS RESET*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i, dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,section,summary,
time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:1rem;
	font:inherit;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
	display:block;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ol,ul {list-style:none;}
a, a:visited {text-decoration:none; color: rgba(54, 58, 70, 1);}


/* COLORS */
$grisClair: #DFE6E9;
$violetPale: #A29BFE;
$vertClair: #81ECEC;
$vertFonce: #00B894;
$vertLea: #007ea7;
$salmonred: #ea5a61d6;

/* FONTS */
@mixin font {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.2rem;
	line-height: 1.5;
	color: rgba(54, 58, 70, 1);
}

/* widths / heights */
$maxwidth: 1540px;
$col: calc($max-width / 12);


/* CONTAINERS */
@mixin container {
	max-width: 1540px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: 20%;
	margin-right: 20%;
}


/* FLEX */

@mixin flex {
	display: flex;
	flex-direction: row;
}

@mixin flexCol {
	display: flex;
	flex-direction: column;
}

@mixin flexAlignItemsCenter {
	align-items: center;
}

@mixin flexCenter {
	align-items: center;
	justify-content: center;
}

@mixin flexJustifyContentFlexEnd {
	justify-content: flex-end;
}

@mixin flexSpaceBetween {
	justify-content: space-between;
}

@mixin flexSpaceAround {
	justify-content: space-around;
}


/* ELEMENTS */
@mixin btn {
	@include font;
	font-weight: bold;
	padding: .5rem;
	border: solid 1px $vertLea;
	background-color: rgba(223, 230, 233, 1);
	border-radius: .3rem;
	cursor: pointer;
}

body {
	@include font;
	box-sizing: border-box;
}

header {
	@include flex;
	@include flexSpaceAround;
	padding: 1rem 0;
	background-color: $grisClair;

	nav {
		@include font;
		@include container;
		width: 80%;
		background-color: $grisClair;
		padding: 1rem;


		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 2px;
		}
	}
}

main {
	@include flexCol;
	@include flexSpaceAround;
	@include flexAlignItemsCenter;


	/* main's table */
	table {
	  /* width: 80%; */
	  max-width: 1540px;
		margin: 100px 10%;

	  border-collapse: collapse;
	  border: 1px solid $grisClair;

		thead {
			border: 1px solid #dee2e6;
			background-color: $grisClair;

			th {
				vertical-align: middle;
				color: $vertLea;
				font-weight: bold;
				padding: 0.75rem;
			}

			th:nth-last-child(2) {
				column-span: 2;
			}
		}

		td {
			@include font;
			color: var(--c-fifth);
			padding: 0.75rem;
			vertical-align: middle;
			text-align: center;
		}

		tr:nth-child(even) {
			background-color: rgba(125, 175, 138, 0.20);
		}

	}
}

div {
	@include container;
}

form {
	@include flexCol;
	@include font;
	width: 80%;
	max-width: 750px;
	min-width: 400px;
	padding-top: 100px;
	padding-bottom: 100px ;

	input,
	input[type="date"],
	input[type="text"],
	input[type="password"],
	input[type="text"]:focus,
	input[type="password"]:focus,
	select {
		font-size: 1rem;
		line-height: 1.5;
		/* width: 25rem; */
		margin-top: 10px;
		margin-bottom: 30px;
		height: 40px;
		padding: .5rem 1rem;
		border: solid 1px $vertLea;
		border-radius: .3rem;
	}
}

select {
	box-sizing: content-box;
	appearance: none;
}

label {
	@include font;
  font-weight: bold;
}

#edit-btn, #add-btn {
	@include btn;
	display: inline-block;
	width: 100%;
	min-height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#edit-btn:hover, #add-btn:hover {
	background-color: rgba(223, 230, 233, 0.50);
}

#add-btn {
	max-width: 250px;
	min-width: 100px;
}

#add-btn-container {
	@include flex;
	@include flexAlignItemsCenter;
	@include flexJustifyContentFlexEnd;
}

#form-container {
	@include flex;
	@include flexCenter;
}

/* CLASSES */

/*handle font-awesome icons colors*/
[class="fa"]::before,
[class*=" fa-"]::before {
	color: $vertLea;
}

[class="fa"]:hover::before,
[class*=" fa-"]:hover::before {
	color: $vertLea;
}

.dellinks span::before {
		color: $salmonred;
}

.logo {
  font-size: 2.5rem;
	font-weight: 700;
}


