/*CSS RESET*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i, dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,section,summary,
time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:1rem;
	font:inherit;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
	display:block;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

button, input {overflow: visible;}
button, select {text-transform: none;}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}


a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

::-moz-placeholder {
	opacity: 1;
}

/* remove horrible placeholder for file inputq */
input[type="file"]{
	color: transparent;
}

ol,ul {list-style:none;}
a, a:visited {text-decoration:none; color: rgba(54, 58, 70, 1);}


/* VARS */
$lightGrey: #DFE6E9;
$darkGreen: #00B894;
$blueGreen: #007ea7;
$lightBlue: #d1e4eab0;
$salmonred: #ea5a61d6;

/* widths / heights */
$maxwidth: 1540px;


/* MIXINS */

/* Fonts */
@mixin font {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.2rem;
	line-height: 1.5;
	color: rgba(54, 58, 70, 1);
}


/* For in-buttons links */
@mixin inlineBlockFull {
	display: inline-block;
	width: 100%;
	height: 100%;
}

/* Container mixin */
@mixin container {
	max-width: 1540px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 10px auto;
}


/* Flex mixins */

@mixin flex {
	display: flex;
	flex-direction: row;
}

@mixin flexCol {
	display: flex;
	flex-direction: column;
}

@mixin flexAlignItemsCenter {
	align-items: center;
}

@mixin flexCenter {
	align-items: center;
	justify-content: center;
}

@mixin flexJustifyContentFlexEnd {
	justify-content: flex-end;
}

@mixin flexSpaceBetween {
	justify-content: space-between;
}

@mixin flexSpaceAround {
	justify-content: space-around;
}


/* STRUCTURE */

body {
	@include font;
	box-sizing: border-box;
}

header {
	@include flex;
	@include flexSpaceAround;
	padding: 1rem 0;
	background-color: #363a46;

	nav {
		@include font;
		@include container;
		background-color: #363a46;
		padding: 1rem;

		ul {
			@include flex;
			@include flexSpaceAround;
			flex-wrap: wrap;
			align-items: center;
			padding: 2px;
		}
	}
}

main {
	@include flexCol;
	@include flexSpaceAround;
	@include flexAlignItemsCenter;


	/* main table */
	table {
		@include container;
	  border-collapse: collapse;
	  border: 1px solid $lightGrey;

		thead {
			background-color: rgb(54, 58, 70);

			th {
				vertical-align: middle;
				color: rgb(124, 204, 230);
				font-weight: bold;
				padding: 0.75rem;

				&:nth-last-child(2) {
					column-span: 2;
				}
			}
		}

		td {
			@include font;
			padding: 0.75rem;
			vertical-align: middle;
			text-align: center;
		}

		tr:nth-child(even) {
			background-color: $lightBlue;
		}
	}
}


/* Forms login + add items */
form {
	@include flexCol;
	@include flexAlignItemsCenter;
	@include font;
	width: 100%;
	max-width: 750px;
	padding-top: 100px;
	padding-bottom: 100px ;

	input,
	input[type="date"],
	input[type="text"],
	input[type="password"],
	input[type="time"],
	select {
		@include font;
		width: 80%;
		max-width: 750px;
		min-width: 250px;
		margin-top: 10px;
		margin-bottom: 30px;
		padding: .5rem 1rem;
		vertical-align: middle;
		line-height: 40px;
		border: solid 1px $blueGreen;
		border-radius: .3rem;
		background-color: #d1e4eab0;

		&:invalid {
			border-color: #ea5a61d6;
		}

		&:required:valid {
			border-color: $darkGreen;
		}
	}

	label {
		@include font;
		width: 80%;
		min-width: 250px;
	  font-weight: bold;
	}

	select {
		box-sizing: content-box;
		appearance: none;
	}

}


/* ELEMENTS */

/* Buttons */

@mixin btn {
	@include font;
	width: 80%;
	font-weight: bold;
	padding: .5rem;
	border: solid 1px $blueGreen;
	background-color: rgba(223, 230, 233, 1);
	border-radius: .3rem;
	cursor: pointer;
	text-transform: uppercase;
}

::file-chooser-button {
	@include font;
}

/* full width/height inline block links */
button > a, #logout {
	@include inlineBlockFull;
}

#edit-btn, #add-btn, #login-btn {
	@include btn;
	@include inlineBlockFull;
	color: #d297d7;
	width: 350px;
	min-height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
		&:hover {
			background-color: rgba(223, 230, 233, 0.50);
		}
}

#add-btn {
	width: 80%;
	max-width: 150px;
	margin: 30px 0;
}

#login-btn {
	width: 200px;
	height: 50px;
}


/* CONTAINERS */
#login-container {
	@include font;
	@include flex;
	@include flexCenter;
	width: 100%;
	max-width: $maxwidth;

	#form-login {
		width: 100%;

		input {
			width: 100%;
			min-width: 250px;
			max-width: 450px;
			border-color: 1px solid #007ea7;

			&:focus {
				outline: none;
			}

			&[value=""] {
				border-color: 1px solid #007ea7;
			}
		}
	}
}

#form-container,
#add-btn-container {
	@include container;
	@include flex;
}

#form-container {
	@include flexCenter;
}

#add-btn-container {
	@include flexAlignItemsCenter;
	@include flexJustifyContentFlexEnd;
}


/* MODAL STUFF */
@mixin modal {
	@include flex;
	@include flexCenter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.80);
}

@mixin modalBtn {
	@include font;
	@include btn;
	width: 100%;
	max-width: 200px;
  margin: 1rem auto;
  padding: .5rem 1rem;
  border: 1px solid;
  border-radius: 25px;
  font-size: 2rem;
  font-weight: bold;
	cursor: pointer;

	&:hover {
		background-color: rgba(0,0,0, 0.0);
  }
}

#modal,
#modal-pic {
	@include modal;

	&_dialog {
		@include flexCol;
		@include flexCenter;
	  min-width: 40%;
	  min-height: 50%;
	  padding: 2rem;
	}

	&_text {
		@include font;
		color: #FFF ;
	  font-size: 2.5rem;
	  font-weight: bold;
	  text-align: center;
	  margin: 2rem;
	}

	&_btn-yes {
		@include modalBtn;
	  color: #0b8f0bc7;
	}

	&_btn-no {
		@include modalBtn;
	  color: #fe1e72;
	}
}


#modal.hidden,
#modal-pic.hidden {
	display: none;
}


/* CLASSES */

/*handle font-awesome icons colors*/
[class="fa"]::before,
[class*=" fa-"]::before {
	color: $blueGreen;
}

.dellinks span::before {color: $salmonred;}
.dellinks span:hover::before {color: rgba(234, 90, 97, 1);}

.logo,
.logo >	a, a:visited {
  font-size: 2.5rem;
	font-weight: 700;
	color: #d297d7;
}


/* MEDIA QUERIES */

@media only screen and (orientation:portrait) and (max-width:700px){
	header > nav > {
		width: 90%;
	}

	header > nav > ul {
		justify-content: space-between;
	}
}


@media only screen and (orientation:portrait) and (max-width:611px){
	header > nav > ul > div:first-child {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	header > nav > ul {
		justify-content: flex-end;
	}
}