<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="fonts/css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
        <title>{% block title %}{{ project_title }}{% endblock title %}</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <div>
                        <li>
                            <h1><a href="index.php" class="logo">{{ project_title }}</a></h1>
                        </li>
                    </div>
                    <div>
                        <li>
                            <a  id="logout"  href="php/logout.php"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </header>


        <main>
            {% block main %}
            <table>
                <thead>
                    <tr>
                        <th>Col 1</th>
                        <th>Col 2</th>
                        <th>Col 3</th>
                        <th>Col 4</th>
                        <th>Col 5</th>
                        <th>Col 6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Datas</td>
                        <td>Datas</td>
                        <td>Datas</td>
                        <td>Datas</td>
                        <td>Datas</td>
                        <td>Datas</td>
                    </tr>
                </tbody>
            </table>
            {% endblock main %}
        </main>

    <script src="script.js"></script>
    </body>
</html>