{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block main %}

<div id="form-container">

	<form id="edit-add-form" action="" method="post" enctype="multipart/form-data">

		<label for="name_product">Product</label>
		<input type="text" name="name_product" class="form-input" placeholder="Product name ..." value="{{ datas.name_product }}" required>

		<label for="ref_product">Reference</label>
		<input type="text" name="ref_product" class="form-input" placeholder="Reference ..." value="{{ datas.ref_product }}" required>

		<label for="location">Site</label>
		<input type="text" name="location" class="form-input" placeholder="Site ..." value="{{ datas.sites_name }}" required>

		<label for="price">Price</label>
		<input type="text" name="price" class="form-input" placeholder="Price ..." value="{{ datas.price }}" required>

		<label for="categories">Category</label>
		<select  class="form-input" name="categories" value="{{ datas.cat_ID }}">
			<option value="{{ datas.cat_ID }}" disabled selected hidden>{{ datas.cat_name }}</option>
			<option value="3" >Appliances</option>
			<option value="4">Clothes</option>
			<option value="5">Vehicles</option>
			<option value="6">Sport</option>
			<option value="7">Animals</option>
			<option value="8">Home & Kitchen</option>
			<option value="9">Outdoors</option>
			<option value="10">Decoration</option>
			<option value="-1">Other</option>
		</select>

		<label for="purchase_date">Date</label>
		<input type="date" name="purchase_date" class="form-input" value="{{ datas.purchase_date }}" required>

		<label for="garanty_date">End Warranty Date</label>
		<input type="date" name="garanty_date" class="form-input" value="{{ datas.garanty_date }}" >

		<label for="advice">Advice</label>
		<input type="text" name="advice" class="form-input" placeholder="Enter an advice ..." value="{{ datas.advice }}">

		<label for="picture">Choose a profile picture :</label>
		<input type="file" name="picture" accept="image/png, image/jpeg, image/jpg,image/gif">

		<label for="man">Choose a manual picture :</label>
		<input type="file" name="man"  accept="application/pdf, text/plain">

		<button id="edit-btn" type="submit"><a href="edit.php">Edit</a></button>

	</form>
</div>

{% endblock main %}