<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	 <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="styles.css">
	<title>Dashboard Project</title>
</head>

<body>
	<header>
		<nav>
			<lu>
				<li><a href="#" class="logo">LOGO</a></li>
				<li><a  id="logout-link"  href="logout.php"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a></li>
			</lu>
		</nav>

	</header>