{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block main %}

	<div id="add-btn-container">
		<button id="add-btn">
			<a href="add.php" id="add-link">Add</a>
		</button>
		</div>

	<div id="modal" class="hidden">
		<div id="modal_dialog" >
			<p id="modal_text">Are you sure	 ?</p>
			<div class="modal_area_btn">
				<button id="modal_btn-yes">Yes</button>
				<button id="modal_btn-no">No</button>
			</div>
	</div>

	</div>
		<div id="modal-pic" class="hidden">
			<div id='modal-pic_div' class="modal-pic_img">

			</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Site</th>
				<th>Produit</th>
				<th>Reference</th>
				<th>Category</th>
				<th>Date</th>
				<th>Warranty</th>
				<th>Price</th>
				<th>Advice</th>
				<th>Picture</th>
				<th>Manual</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for result in results %}
				<tr>
					<td>{{ result.ID }}</td>
					<td>{{ result.place }}</td>
					<td>{{ result.name_product }}</td>
					<td>{{ result.ref_product }}</td>
					<td>{{ result.name }}</td>
					<td>{{ result.purchase_date }}</td>
					<td>{{ result.garanty_date }}</td>
					<td>{{ result.price }} €</td>
					<td>{{ result.advice }}</td>
					<td>
						<a class="picLinks" id="picLink_{{ result.ID }}"  href="get_file.php?id={{ result.ID }}"><span class="fa fa-image" aria-hidden="true"></span></a>
					</td>
					<td>
						<a class="manLinks" id="manLink_{{ result.ID }}"  href="get_file.php?id={{ result.ID }}"><span class="fa fa-file" aria-hidden="true"></span></a>
					</td>
					<td><a class="editLinks" id="editLink_{{ result.ID }}"  href="edit.php?id={{ result.ID }}"><span class="fa fa-edit"  aria-hidden="true"></span></a></td>
					<td><a class="dellinks" id="delete_{{ result.ID }}" href="delete.php?id={{ result.ID }}"><span class="fa fa-trash"  aria-hidden="true"></span></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock main %}
