{% extends "base.html" %}

{% block title %}Dashboard Project{% endblock title %}

{% block main %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Site</th>
				<th>Produit</th>
				<th>Reference</th>
				<th>Category</th>
				<th>Date</th>
				<th>Garanty</th>
				<th>Price</th>
				<th>Advice</th>
				<th>Picture</th>
				<th>Manual</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for results in results %}
				<tr>
					<td>{{ results.ID }}</td>
					<td>{{ results.location }}</td>
					<td>{{ results.name_product }}</td>
					<td>{{ results.ref_product }}</td>
					<td>{{ results.name }}</td>
					<td>{{ results.purchase_date }}</td>
					<td>{{ results.garanty_date }}</td>
					<td>{{ results.price }} €</td>
					<td>{{ results.advice }}</td>
					<td>{{ results.picture }}</td>
					<td>{{ results.manual }}</td>
					<td><a class="editLinks" id="editLink_{{ results.ID }}"  href="edit.php?id={{ results.ID }}"><span class="fa fa-edit"></span></a></td>
					<td><a class="dellinks" id="delete_{{ results.ID }}" href="delete.php?id={{ results.ID }}"><span class="fa fa-trash"></span></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock main %}
