{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block main %}
	<div id="add-btn-container">
		<button id="add-btn">
			<a href="add.php" id="add-link">Add</a>
		</button>
		</div>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Site</th>
				<th>Produit</th>
				<th>Reference</th>
				<th>Category</th>
				<th>Date</th>
				<th>Warranty</th>
				<th>Price</th>
				<th>Advice</th>
				<th>Picture</th>
				<th>Manual</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for results in results %}
				<tr>
					<td>{{ results.ID }}</td>
					<td>{{ results.place }}</td>
					<td>{{ results.name_product }}</td>
					<td>{{ results.ref_product }}</td>
					<td>{{ results.name }}</td>
					<td>{{ results.purchase_date }}</td>
					<td>{{ results.garanty_date }}</td>
					<td>{{ results.price }} €</td>
					<td>{{ results.advice }}</td>
					<td>
						<a class="picLinks" id="editLink_{{ results.picture }}"  href="#"><span class="fa fa-image" aria-hidden="true"></span></a>
					</td>
					<td>
						<a class="manLinks" id="manLink_{{ results.manual }}"  href="#"><span class="fa fa-file" aria-hidden="true"></span></a>
					</td>
					<td><a class="editLinks" id="editLink_{{ results.ID }}"  href="edit.php?id={{ results.ID }}"><span class="fa fa-edit"  aria-hidden="true"></span></a></td>
					<td><a class="dellinks" id="delete_{{ results.ID }}" href="delete.php?id={{ results.ID }}"><span class="fa fa-trash"  aria-hidden="true"></span></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock main %}
